#header {
    background-color:black;
    color:white;
    text-align:center;
    padding:5px;
}
#nav {
    line-height:30px;
    background-color:#eeeeee;
    height:300px;
    width:100px;
    float:left;
    padding:5px;
}
#section {
    width:350px;
    float:left;
    padding:10px;
}
#footer {
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
    padding:5px;
}
		
		table{
			border-collapse: collapse;
			background-color: #e2f3e0;
			align:center
			font-size:12px
		    }
		tr:nth-child(even){background-color: #f2f2f2}	